<ion-view view-title="Password change">
  <ion-content style="text-align:center;" class="padding">

	<form ng-submit="changePassword(user)">

		<label class="item item-input item-floating-label">
			<span class="input-label">Email:</span>
			<input ng-model="user.email" name="email" type="email" placeholder="Enter your email...">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Password:</span>
			<input ng-model="user.oldPass" type="password" placeholder="Enter your old password...">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Password:</span>
			<input ng-model="user.newPass" type="password" placeholder="Enter your new password...">
		</label>		
		<br>		
		<input type="submit"  value="Change password" class="button button-balanced">

	</form>

  </ion-content>
</ion-view>

