
<ion-view view-title="Ionic Rabbit">
  <ion-content style="text-align:center;" class="padding">
  <h2>Welcome to IonicRabbit</h2>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-left">
				<li ng-show="signedIn()"><a href="#/post">Post a Task</a></li>
				<li><a href="#/tab/browse">Browse Tasks</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="signedIn()"><a href="#/login">Login</a></li>
				<li ng-hide="signedIn()"><a href="#/register">Register</a></li>

				<li ng-show="signedIn()" class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown">
						{{currentUser.profile.name}}
						<span class="mdi-navigation-expand-more"></span>						
					</a>
					<ul class="dropdown-menu">
						<li><a href="" data-toggle="modal" data-target="#pasModal">
						<i class="mdi-action-lock"></i>Change password</a></li>
						<li><a href="#" ng-click="logout()">
							<i class="mdi-action-exit-to-app"></i> Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<div ng-show="signedIn()" ng-include="'templates/partials/changepass.html'">

  </ion-content>
</ion-view>
