<ion-view view-title="Register">
  <ion-content style="text-align:center;" class="padding">
  <h1 style="text-align:center;">Register into IonicRabbit</h1>

	<form ng-submit="register(user)">

		<label class="item item-input item-floating-label">
			<span class="input-label">Username:</span>
			<input ng-model="user.name" name="email" type="email" placeholder="Enter your email...">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Email:</span>
			<input ng-model="user.email" name="email" type="email" placeholder="Enter your email...">
		</label>
		<label class="item item-input item-floating-label">
			<span class="input-label">Password:</span>
			<input ng-model="user.password" name="password" type="password" placeholder="Enter your password...">
		</label>
		<br>		
		<input type="submit"  value="Login" class="button button-balanced">

	</form>

  </ion-content>
</ion-view>

